<div style="display: flex; flex-flow: column nowrap; height: 98vh; width: 100%; margin-left: 4px">
  <div class="appHdr">
    <div class="appTitle">
      Station Locator
    </div>
    <div class="toolbar">
      <div class="filterButton" (click)="openFilter()"></div>
      <div id="pac-container">
        <input id="pac-input" type="text" class="fa fa-search" placeholder="Enter a location">
      </div>
    </div>
  </div>
  <div style="flex-grow: 1; display: flex; flex-flow: row nowrap">
    <div class="map" #gmap style="height: 100%; width: 100%; flex-grow: 5"></div>
    <div class="locationBar" *ngIf='showLocBar'>
      <div class="showBorder locBarHdr"><a style="float: right; cursor: pointer" (click)="closeLocBar()">X</a></div>
      <div class="showBorder locName">{{selectedLoc.name}}</div>
      <div class="showBorder address">
        <div>{{selectedLoc.street}}</div>
        <div>{{selectedLoc.city}}, {{selectedLoc.state}} {{selectedLoc.zip}}</div>
      </div>
      <div class="showBorder phone">{{selectedLoc.phone}}</div>

    </div>
  </div>
</div>

<div class="filterPop" #filterPop >
  <div class="amenHdr">
    <div class="amenTitle">Amenities Filter</div>
    <div class="amenClose" style="" (click)="closeFilter()">X</div>
  </div>
  <div style="height: 25px"></div>
  <div>
    <div class="amenRow">
      Freal Shakes
      <label class="switch">
        <input (change)="toggleFilter('freal')" type="checkbox">
        <span class="slider round"></span>
      </label>
    </div>
    <div class="amenRow">Slushies
      <label class="switch">
        <input (change)="toggleFilter('slushie')" type="checkbox">
        <span class="slider round"></span>
      </label>
    </div>
    <div class="amenRow">Madbrook Donuts
      <label class="switch">
        <input (change)="toggleFilter('madbrook')" type="checkbox">
        <span class="slider round"></span>
      </label>
    </div>
    <div style="height: 25px"></div>
    <div class="amenRow">Diesel Fuel
      <label class="switch">
        <input (change)="toggleFilter('diesel')" type="checkbox">
        <span class="slider round"></span>
      </label>
    </div>
    <div class="amenRow">Ethenol Free Fuel
      <label class="switch">
        <input (change)="toggleFilter('clear')" type="checkbox">
        <span class="slider round"></span>
      </label>
    </div>
    <div style="height: 25px"></div>
    <div class="amenRow">RV Dump
      <label class="switch">
        <input (change)="toggleFilter('rvdump')" type="checkbox">
        <span class="slider round"></span>
      </label>
    </div>
    <div class="amenRow">RV Lanes
      <label class="switch">
        <input (change)="toggleFilter('rvlane')" type="checkbox">
        <span class="slider round"></span>
      </label>
    </div>
  </div>
</div>
