body {
  font-family: Alegreya SC;
}

.appHdr {
  padding-left: 20px;
  display: flex;
  flex-flow: row;
  align-items: center;
  flex-wrap: wrap;
  border: #177717 solid 4px;
}

.appTitle {
  font-size: 3.5em;
  font-family: Alegreya SC;
  font-weight: bold;
  color: #177717;
  flex-grow: 1;
  min-width: 450px;
}

.toolbar {
  flex-grow: 1;
}

.filterButton {
  float: right;
  cursor: pointer;
  background-color: #771747;
  color: white;
  margin-right: 30px;
  height: 27px;
  line-height: 32px;
  width: 27px;
  border: #670727 solid 2px;
  font-size: 1.1em;
  text-align: center;
}

#pac-container {
  padding-bottom: 0px;
  margin-right: 12px;
  float: right;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 1.2em;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 250px;
  height: 25px;
  border: #177717 solid 3px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.locationBar {
  width: 30%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  border-right: #177717 4px solid;
  border-bottom: #177717 4px solid;
  color: #177717;
}

.map {
  border-right: #177717 4px solid;
  border-bottom: #177717 4px solid;
  border-left: #177717 4px solid;
}

.locBarHdr {
  font-size: 2.2em;
  background-color: #177717;
  color: white;
  padding-right: 10px;
  line-height: 50px;
}

.locBarClose {
  font-size: 0.7em;
}

.locName {
  font-size: 2.5em;
  text-align: center;
  text-transform: capitalize;
}

.showBorder {

}

.address {
  font-size: 1.3em;
  margin-top: 10px;
}

.phone {
  font-size: 1.4em;
  margin-top: 10px;
}

.fuelHdr {
  font-size: 1.7em;
  background-color: #177717;
  color: white;
}

.price {
  font-size: 3.5em;

}

.priceType {
  font-size: 0.35em;
}

.locAmenList {
  display: flex;
  flex-wrap: wrap;
}

.locAmenTitle {
  font-size: 1.7em;
  background-color: #177717;
  color: white;
}

.locAmenRow {
  font-size: 1.2em;
  width: 50%;
  flex-grow: 1;
  flex-basis: 40%;
  text-align: left;
  padding-left: 5px;
  border-bottom: #177717 3px solid;
  border-right: 3px solid;
  line-height: 38px;
}

.filterPop {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  overflow: hidden;
  padding: 20px;
  background: #fff;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 20px;
  width: 330px;
  max-height: 400px;
  border: #771747 2px solid;
}

.amenHdr {
  display: flex;
  flex-flow: row;
}

.amenTitle {
  font-size: 1.4em;
  flex-grow: 1;
}

.amenClose {
  cursor: pointer;
  font-size: 1.2em;
  background-color: #771747;
  color: white;
  border: #670727;
  width: 120px;
  height: 36px;
  margin-top: 50px;
}

.amenRow {
  height: 30px;
  font-size: 1.2em;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 28px;
  float: right;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 26px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #771747;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}
